* {
  box-sizing: border-box;
  margin: 0;
}


.container {
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.wallpapertip.com/wmimgs/122-1224301_hq-field-wallpapers-slavkov-forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.layout {
  width: fit-content;
  height: fit-content;
  /* border: solid 1px red; */
  display: flex;
  gap: 20px;
  margin-top: 130px;
  position: relative;
}

#card {
  width: 300px;
  min-height: 120px;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  border: solid 1px rgb(229, 228, 228);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.text {
  font-size: 22px;
  font-weight: bold;
}

.counter {
  color: rgba(159,160,163,255);
  font-weight: bold;
  font-size: 20px;
}
.cardAdd {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cardAdd:hover {
  background-color: rgb(204, 204, 204);
  border-radius: 5px;
}


.modal {
  width: 350px;
  height: 450px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 40%;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.6);
  display: none;
}

.modalTask {
  font-size: 26px;
  font-weight: bold;
}
.titleInput {
  width: 100%;
  height: 30px;
}
.desInput {
  width: 100%;
  height: 100px;
}
.select {
  width: 100%;
  height: 30px;
}
#addButton {
  width: 100%;
  height: 30px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

#toDo {
  background-color: #fff;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 15px 5px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.toDoTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  border: solid 1px red;
}
.toDoTitleText {
  font-size: 18px;
  font-weight: bold;
}
.toDoTitleLeft {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 5px;
}
.toDoTitleLeftIcon {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDoTitleRight {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDoDescription {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  /* min-height: 40px; */
  border: solid 1px red;
}
.toDoDescriptionIcon {
  width: 20px;
  height: 20px;
}
.toDoDescirptionText {
  margin-left: 25px;
}

.toDoPriority  {
  margin-left: 25px;
}
