* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-image: url("https://cdn.pixabay.com/photo/2017/10/10/07/48/hills-2836301_640.jpg");
}

.layout {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 20px;
    position: relative;
    margin-top: 10%;
}

.card {
    width: 280px;
    height: fit-content;
    min-height: 120px;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
    padding: 20px 20px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#cardTop {
    margin-bottom: 20px;
}

.cardText {
    font-size: 22px;
    font-weight: bold;
}
.cardCount {
    font-size: 20px;
    font-weight: bold;
    color: grey;
}
.addText {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.addButton {
    cursor: pointer;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.addButton:hover {
    background-color: rgb(170, 170, 170);
    border-radius: 5px;
}

.modal {
    width: 320px;
    height: 450px;
    background-color: rgb(236, 235, 235);
    border-radius: 5px;
    position: absolute;
    top: 30%;
    left: 40%;
    padding: 20px 20px 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.6);
    display: none;
}

.modalTaskText {
    font-weight: bold;
    font-size: 26px;
}
#inputText {
    width: 100%;
    height: 30px;
}
#textArea {
    width: 100%;
}
#taskButton {
    width: 100%;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#prioritySelect {
    width: 100%;
    height: 30px;
}
#statusSelect {
    width: 100%;
    height: 30px;
}

.toDoList {
    width: 100%;
    height: 120px;
    border: solid 1px grey;
    background-color: grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

#todoListTop {
    width: 100%;
    height: 25px;
    border: solid 1px red;
}
#todoDescription {
    width: 100%;
    height: 25px;
    border: solid 1px red;
}
#todoPriority {
    width: 100%;
    height: 25px;
    border: solid 1px red;
}